# An√°lise da base de dados por meio do algoritmo k-Nearest Neighbors (kNN)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
url = r"https://docs.google.com/spreadsheets/d/e/2PACX-1vTSEtC2uCzOX9-5zgkIkuqyZA51Z5nGlem0Y5w6kbLPcmzENBe0yujL9WAGBDgT9y7VBQniOlMg4Baf/pub?output=csv"

insta_df = pd.read_csv(url)

insta_df.head()

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States